# Pastas pesadas e de sistema
profiles/
perfil_mestre/
p_*/
logs/
__pycache__/
_quarentena/

# Dados de contas e configurações locais
*.json
*.txt
*.csv
!version.txt
!gerar exe.txt

# Binários
*.exe
*.spec